/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


header {
  height: 80px;
  background-color: #3b5998;
  clear: both;
}

section {
  width: 980px;
  margin: 0 auto;
}


.header-nav {
  width: 980px;
  height: 68px;
  margin: 0 auto;
  padding-top: 13px;
  clear: both;
}

.title {
  margin: 17px 0 0;
  font-size: 38px;
  color: #fff;
  float: left;
}

.nav a{
  float: right;
  padding-left: 15px;
  padding-top: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.nav a:hover {
  color: #808080;
}
